<!DOCTYPE html>
<html lang="ro">
  {% include head.html %}
  <body>
		<div class="wrapper bg-light" id="content">
			<header>
				<div class="container-fluid position-absolute pl-0 pr-0"></div>
				<div class="container p-0 pt-lg-2 position-relative d-flex">
					<div class="logo pl-3 pr-3 pt-2 pb-3">
						<h1 class="text-center mb-0">Școala Gimnazială<br>"Alice Voinescu"</h1>
						<h5 class="text-center mb-0">Drobeta-Turnu-Severin</h5>
					</div>
					<div class="menu">
						<div class="topnav row mr-0 ml-0 mt-lg-4">
						<a class="col" href="{{site.url}}">Acasă</a>
						<a class="col" href="{{site.url}}/despre">Despre</a>
						<a class="col" href="{{site.url}}/elevi">Elevi</a>
						<a class="col" href="{{site.url}}/profesori">Profesori</a>
						<a class="col" href="{{site.url}}/evenimente">Evenimente</a>
						<a class="icon" href="#"><i class="fa fa-bars"></i></a>
						</div>
					</div>
				</div>			
			</header>
			<main>
			<section id="home">
				<div class="container p-0 pb-3 text-center">
					<img class="bg-home" src="{{site.url}}/assets/images/{{page.image}}">
					{% include announcement-bar.html %}
				{{ content }}
				</div>
			</section>
			{% include footer.html %}
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbhI4xxzbScSpeh81B0OII278B5Z5ADKI&sensor=false"></script>
		<script>
			$("#content").css("min-height", $(window).height());
			$(window).resize(function() {
				$("#content").css("min-height", $(window).height());
			});
			$('.topnav > .icon').click(function() {
				$('.topnav').toggleClass('responsive');
				$('.logo').toggle();
				return false;
			});
		</script>
	</body>
</html>